<!DOCTYPE html>

<html lang="" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Architect X</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" sizes="192x192" href="/images/favicon.png">
<link rel="apple-touch-icon-precomposed" href="/images/favicon.png">
<link rel="shortcut icon" type="image/png" href="/images/favicon.png">
<link rel="stylesheet" href="/css/index.css">
</head>

<body>
	<header>
		<h1>Architect X</h1>
	</header>

	<h2 style="text-align: center">Form validations</h2>
	
	<button onclick="home()" class="button">to Home</button>

	<footer>
		<p>&copy; 2025 - <a href="https://about.me/haroldoramirez" target="_blank">Haroldo Ramirez da Nobrega</a>. All rights reserved.</p>
	</footer>
	
	<script type="text/javascript">
		function home() {
			window.location.href="/";
		}
	</script>
</body>

</html>